<h1>Add Chore</h1>
<%= partial :_sub_nav_chores %>
<form action="/chore/create" method="post">
	<input name="id" type="hidden" value="">
	<label for="name">Name:</label>
	<input name="name" type="text" value=""/>
	
	<label for="description">Description</label>
	<textarea name="description" value=""></textarea>
	
	<input type="submit" value="create chore"/>
</form>