<h1>Edit Chore</h1>
<%= partial :_sub_nav_chores %>
<form action="/chore/update" method="post">
	<input name="id" type="hidden" value="<%= @chore['_id'] %>">
	<label for="name">Name:</label>
	<input name="name" type="text" value="<%= @chore['name'] %>"/>
	
	<label for="description">Description</label>
	<textarea name="description"><%= @chore['description'] %></textarea>
	
	<input type="submit" value="update chore"/>
</form>