<h1><%= user %>'s 5cfriends homepage</h1>

<div id="postit_board">
	<h2>Postits</h2>
	
	<form action="/postit" method="post">
		<label for="message">Message:</label>
		<textarea name="message" value=""></textarea>
		<input type="submit" value="leave message"/>
	</form>
	
	<div id="postits">
		<% @postits.each do |postit| %>
			<div class="postit">
					<p class="postit"><span class="author"><%= postit['user'] %></span>: <%= postit['message'] %></p>
					<p class="postit-info">--  at <%= postit['created_at'].strftime("%a %b %d, at %I:%M%p")%></p>
			</div>
		<% end %>
	</div>
</div>