<div id="message_thread">
	<h1><%= @thread['subject'] %></h1>
	<% @thread['messages'].each do |message| %>
		<div class="message">
			<p><%= message['author'] %></p>
			<p><%= message['message'] %></p>
			<p><%= message['created_stamp'] %></p>