/* @override http://www.numberguru.com/stylesheets/styles.css */

html {
}


body {
	font: 12px Arial, sans-serif;
	color: #444;
}

p {
	margin-bottom: 10px;
}

h1 {
	font-size: 30px;
	color: #333;
	font-weight: bold;
}

h3 {
	font-size: 16px;
	color: #333;
	font-weight: bold;
}

label {
	display: block;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}

textarea {
	display: block;
	height: 100px;
	width: 300px;
	margin: 20px 0 20px 0;
	color: #333;
	font-size: 12px;
}
a.logo {
	width: 301px;
	height: 115px;
	background: url(/images/logo.png) no-repeat;
	display: block;
	margin-top: 15px;
	float: left;
	font-size: 20px;
	color: #444;
	text-decoration: none;
}

/* @group top */


/* @static */

div#login {
	position: absolute;
	right: 0;
	top: 20px;
	font-size: 16px;
	font-weight: bold;
}

div#login a {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}

div#article {
	padding: 20px;
}

div#article h1 {
	width: 100%;
	text-align: center;
}

div#article p {
	text-align: justify;
}

div#message_board {
	width: 800px;
	margin: 0 auto 0 auto;
	padding: 20px;
/*	border: 1px solid #bbb;*/
	background-color: #FFFFEE;
}

div.message {
	border-bottom: 1px solid #ccc;
	width: 100%;
}

p.message {
	font-size: 16px;
}

span.author {
	font-weight: bold;
}
p.message-info {
	text-align: right;
}
/* @end */

/* @flash notices */

div#flash-notice {	
	padding: 10px 0 10px 0;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	background-color: #00ff00;
	border: 2px solid #66aa00;
}